.card-container {
  display: flex;
  /* flex-direction: row; */
}

.card {
  max-width: 230px;
  margin: 5px;
  background-color: rgb(208, 199, 199);

}
.card_image{
  max-width: 220px;
  margin: 5px;
}

.special {
  color: deeppink;
}