<mat-card-title appSpecial>{{cardTitle}}</mat-card-title>

<mat-card class="card">

  <div class="card-container">

    <!-- <mat-card class="card" *ngFor="let cardTitle of titles"> -->
  <mat-card class="card_image">


     <mat-card-header>
      <mat-card-title>{{cardTitle}}</mat-card-title>
      <!-- <mat-card-subtitle>{{likeCount}} Likes</mat-card-subtitle> -->
      <input type="button" value="Delete" (click)="deleteCard()" style="background-color: red;">
    </mat-card-header>

    <img mat-card-image [src]="imageUrl" alt="shiba">

    <mat-card-content>
      <!-- <p [ngClass]="isSpecial ? 'special' : ''">I am {{'running'}} on port {{port}}</p>
      <p [style.fontSize]="size">Server with Id {{server.id}} is {{server.status}}</p>
      <p [style]="style">Server status from method: {{getServerStatus()}}</p> -->

      <!-- <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="titles">
      </mat-form-field> -->

    </mat-card-content>
    
    <mat-card-actions>
        <button mat-button [disabled]="isLikeDisabled" (click)="onLike()">{{likeCount}} Likes</button>
        <button mat-button [disabled]="isShareDisabled" (click)="onShare()">{{shareCount}} Shares</button>
    </mat-card-actions> 
  </mat-card>

  <section>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input type="text" matInput #cardTitle>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onAddCard(cardTitle.value)">Add Card</button>
  </section>
  </div>
</mat-card>
